*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
/* for top heading */
h2{
    padding: 10px;
}
/* main container containing weekdays  */
.displayBirthday{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
/* a week day card containing person initials */
.birthdayCard{
    background-color: rgb(189, 186, 186);
    height: 30vh;
    width: 30vw;
    border: 1px solid;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
}
/* for person initials that is inside a weekday card */
.personInitials{
    padding: 0px 5px;
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* for weekday heading */
.weekDay{
    border: 2px solid;
    height: 20%;
    background-color: rebeccapurple;
    border-radius: 5px;
    text-align: end;
    padding: 2px 5px;
}
#inputSection,#inputYearBtn{
    margin: 5px;
}

.personInitialContainer{
    height: 80%;
    width: 100%;
    display: grid;
}
